<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link rel="stylesheet" href="public/assets/extras/error_404/error404.css">
</head>

<body>
  <div class="container">
    <div>
      <img src="public/assets/extras/error_404/img/404 imagen.png" alt="imagen de fonto 404">
    </div>
    <div class="info">
      <p class="mensaje">La página que buscas no puede ser encontrada</p>
      <p class="subtexto">
        Vuelva a la página principal o
        <a href="contactanos.html">contáctenos</a> si tiene algún problema
      </p>
    </div>
  </div>
</body>

</html>