/* ========== BARRA DE BÚSQUEDA ========== */
form#busqueda {
    position: relative;
    padding: 10px 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

form#busqueda input {
    background-color: #DEE6F2;
    height: 40px;
    border-radius: 11px;
    width: 600px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px 8px 8px 45px;
    margin-bottom: 20px;
}

form#busqueda .bi-search {
    position: absolute;
    bottom: 54px;
    left: 570px;
    font-size: 18px;
    pointer-events: none;
    color: #95a5a6;
}

#modoOscuroBtn,
#notificacionesBtn {
    margin-bottom: 16px;
    margin-left: 10px;
    padding: 7px 20px;
    background-color: #DEE6F2;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

form#busqueda .bi-moon-fill,
form#busqueda .bi-bell-fill {
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos del dropdown de perfil */
form#busqueda #perfil {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    background-color: #EA8217;
    border-radius: 12px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 133px;
    margin-bottom: 10px;
}

form#busqueda #perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

form#busqueda #perfil p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

form#busqueda #perfil h6 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}


/* Estilos del dropdown */
#perfil-dropdown .dropdown-menu {
    border-radius: 0 0 12px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#perfil-dropdown .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #2D4059;
    display: flex;
    align-items: center;
    gap: 10px;
}

#perfil-dropdown .dropdown-item:hover {
    background-color: #ffffff;
    color: #EA8217;
}

#perfil-dropdown .dropdown-item i {
    font-size: 16px;
}

#perfil-dropdown .dropdown-divider {
    margin: 5px 0;
}